.nav-pills .active a{
	background: #fed136 !important;
}

.dashboard-panel{
	display:none;
}

.urgente{
	color: #f00;	
}

.panel{
	margin-top: 15px;
}

.budget-form-border{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
}