.nav-pills .active a{
	background: #fed136 !important;
}

.dashboard-panel{
	display:none;
}

.urgente{
	color: #f00;	
}

.panel{
	margin-top: 15px;
}

.budget-form-border{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
}

.response-list-section{
	margin-top: -20px;
	padding-left: 15px;
	padding-right: 15px;
}
.response-list > li{
	border-bottom: 1px solid #ddd;
	padding: 5px;
	margin-bottom: -1px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.response-list-panel{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #ddd;	
	margin-top: -1px;
}

.user-name-message{
	color: #aaa;
}
.message-content{
	color: #444;
}
.question-message{
	border-left: 5px solid #ddd;	
	text-align: left;	
}
.response-message{
	border-right: 5px solid #ddd;	
	text-align: right;	
}
.message{
	background: #f9f9f9;
	margin-top: 8px;
	padding: 0.5em 10px;
}